@CHARSET "UTF-8";

body {
	margin: 0 auto;
	width: 800px;
}

#header {
	display: block;
}

#header div {
	display: inline-block;
	margin: 0 auto;
}

#header #user {
	float: right;
}

#content {
	
}

#content #login {
	display: table;
	margin: auto;
}

#content table {
	text-align: center;
	font: 16px sans-serif;
}

#content table thead {
	border: 0;
	background: #9cf;
	font-weight: bold;
}

#content table tr.even {
	
}

#content table tr.odd {
	background: #ddd	;
	border-bottom: 1px solid #ccc;
}

#content table td {
	border-bottom: 1px solid #ccc;
	padding: 6px;
}

/* footer *********************************/
#footer {
	
}

#footer div {
	display: inline;
	float: left;
	margin: 0 auto;
}

#footer div ul {
	font: bold 12px/30px Georgia, serif;
	padding: 0 40px 0 0;
}

#footer div ul li {
	list-style: none;
	font: 12px/18px Tahoma, sans-serif;
}