* {
	font: 14pt System, Monospaced;
	color: #555;	
}

p {
	line-height: 24pt;
	margin: 0;
}

p.projeto {
	font-weight: bold;
	font-size: 18pt;
	color: #333;
}

p.descricao, p.alunos {
}

ul {
	list-style-type: square;
 	list-style-position: inside;
 	/*list-style-image: url(file:res/img/sobre.png);*/
}

ul li {
	font-size: 12pt;
	line-height: 18pt;
}